.planner-buddy{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title{
  display: flex;
  margin-top: 10px;
}

.title-text{
  font-family: Cursive
}

.title-logo{
  height: 90px;
  width: 90px;
  margin-left: 10px;
  margin-right: 10px;
}

.todo-form{
  display: flex;
  justify-content: space-between;
}

.todo-input{
  width: 100%;
  height: fit-content;
}

.todo-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}